In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("movie_data.csv")
dfr = pd.read_csv("rating_mean.csv")

/tmp/ipykernel_21148/3464219807.py:1: DtypeWarning: Columns (1,2,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("movie_data.csv")

In [29]:
df.head(2)

,Unnamed: 0,adult,budget,genres,id,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,tagline,title,vote_average,vote_count,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,0,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",2,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,3.860491,"[{'name': 'Villealfa Filmproduction Oy', 'id':...",...,69,"[{'iso_639_1': 'fi', 'name': 'suomi'}, {'iso_6...",NaN,Ariel,7.1,44,NaN,NaN,NaN,NaN
1,1,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",3,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",2.29211,"[{'name': 'Villealfa Filmproduction Oy', 'id':...",...,76,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",NaN,Shadows in Paradise,7.1,35,NaN,NaN,NaN,NaN

In [30]:
dfr.head(2)

   movieId    rating
0        1  3.872470
1        2  3.401869

In [31]:
dfr.shape

(9066, 2)

In [32]:
df.shape

(45466, 23)

In [ ]:
# dfrlong = pd.read_csv("datasets/ratings.csv")

In [3]:
dfrlong.head(2)

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435

In [4]:
dfrlong.shape

(26024289, 4)

In [5]:
dfrmean = dfrlong.groupby("movieId")["rating"].mean()

In [6]:
dfrmean

movieId
1         3.888157
2         3.236953
3         3.175550
4         2.875713
5         3.079565
            ...
176267    4.000000
176269    3.500000
176271    5.000000
176273    1.000000
176275    3.000000
Name: rating, Length: 45115, dtype: float64

In [7]:
dfrmean.shape

(45115,)

In [8]:
dfrmean.to_csv('rating_mean_all.csv')

In [9]:
df.head(2)

NameError: name 'df' is not defined

In [11]:
dfr_long = pd.read_csv("rating_mean_all.csv")

In [12]:
dfr_long.shape

(45115, 2)

In [13]:
df.shape

(45466, 19)

In [16]:
dfr_long.head(2)

   movieId    rating
0        1  3.888157
1        2  3.236953

In [18]:
df.head(1)

,Unnamed: 0,adult,budget,genres,id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,tagline,title,vote_average,vote_count
0,0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,Toy Story,7.7,5415.0

In [7]:
df.rename(columns = {'id':'movieId'}, inplace = True)

In [8]:
df.head(1)

,Unnamed: 0,adult,budget,genres,movieId,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,tagline,title,vote_average,vote_count
0,0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,Toy Story,7.7,5415.0

In [9]:
df.sort_values('movieId',inplace=True)

In [10]:
df

,Unnamed: 0,adult,budget,genres,movieId,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,tagline,title,vote_average,vote_count
2429,2429,False,1350000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",100,en,"Lock, Stock and Two Smoking Barrels",A card sharp and his unwillingly-enlisted frie...,4.60786,"[{'name': 'Handmade Films Ltd.', 'id': 146}, {...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",1998-03-05,3897569.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",A Disgrace to Criminals Everywhere.,"Lock, Stock and Two Smoking Barrels",7.5,1671.0
13609,13609,False,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",10000,es,La estrategia del caracol,A group of tenants living in an old house are ...,0.281609,[{'name': 'Ministère de la Culture et de la Fr...,"[{'iso_3166_1': 'CO', 'name': 'Colombia'}, {'i...",1993-12-25,0.0,116.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",NaN,La estrategia del caracol,7.2,9.0
4435,4435,False,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 878, 'na...",10001,en,Young Einstein,Albert Einstein is the son of a Tasmanian appl...,2.562888,"[{'name': 'Warner Bros.', 'id': 6194}]","[{'iso_3166_1': 'AU', 'name': 'Australia'}]",1988-12-15,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",E=mc²,Young Einstein,4.5,46.0
17451,17451,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",100010,en,Flight Command,"A rookie flyer, Ens. Alan Drake, joins the fam...",0.769266,"[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8...","[{'iso_3166_1': 'US', 'name': 'United States o...",1940-12-27,0.0,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]","T-H-R-I-L-L AMERICA! Here come The Flying ""HEL...",Flight Command,6.0,1.0
36946,36946,False,0,"[{'id': 18, 'name': 'Drama'}]",100017,de,Verfolgt,Deals with the obsessive relationship between ...,2.964103,"[{'name': 'MMM Film Zimmermann & Co', 'id': 84...","[{'iso_3166_1': 'DE', 'name': 'Germany'}]",2006-08-06,0.0,87.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",NaN,Hounded,4.8,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25652,25652,False,0,"[{'id': 35, 'name': 'Comedy'}]",99946,en,Exit Smiling,Beatrice Lillie and Jack Pickford star in this...,0.202315,"[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8...","[{'iso_3166_1': 'US', 'name': 'United States o...",1926-11-06,0.0,77.0,[],NaN,Exit Smiling,8.5,2.0
3767,3767,False,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",9995,en,Turn It Up,Trying to bootstrap his way out of Brooklyn's ...,1.316179,"[{'name': 'New Line Cinema', 'id': 12}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2000-09-06,0.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",How you gonna win?,Turn It Up,5.0,5.0
12549,12549,False,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",9997,ab,Gabriel,Gabriel tells the story of an archangel who fi...,3.840024,"[{'name': 'HILT Productions', 'id': 8916}, {'n...","[{'iso_3166_1': 'AU', 'name': 'Australia'}]",2007-11-15,0.0,109.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Far From Grace,Gabriel,5.0,77.0
25079,25079,False,0,"[{'id': 35, 'name': 'Comedy'}]",99977,en,Hot Stuff,When a police department's burglary task force...,0.215778,"[{'name': 'Rastar Pictures', 'id': 2070}]",[],1979-08-10,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",You can't turn this mob over to the cops. They...,Hot Stuff,7.8,6.0
13106,13106,False,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",9999,de,Der freie Wille,After nine years in psychiatric detention Theo...,1.038858,"[{'name': 'Colonia Media', 'id': 1084}]","[{'iso_3166_1': 'DE', 'name': 'Germany'}]",2006-08-23,0.0,163.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",NaN,The Free Will,6.6,11.0

In [15]:
dfr_long

       movieId    rating
0            1  3.888157
1            2  3.236953
2            3  3.175550
3            4  2.875713
4            5  3.079565
...        ...       ...
45110   176267  4.000000
45111   176269  3.500000
45112   176271  5.000000
45113   176273  1.000000
45114   176275  3.000000

[45115 rows x 2 columns]

In [26]:
# df_new = pd.merge(df, dfr_long, on="movieId")

In [17]:
df.dtypes

Unnamed: 0                int64
adult                    object
budget                   object
genres                   object
movieId                  object
original_language        object
original_title           object
overview                 object
popularity               object
production_companies     object
production_countries     object
release_date             object
revenue                 float64
runtime                 float64
spoken_languages         object
tagline                  object
title                    object
vote_average            float64
vote_count              float64
dtype: object

In [18]:
dfr_long.dtypes

movieId      int64
rating     float64
dtype: object

ValueError: invalid literal for int() with base 10: '1997-08-20'