In [1]:
import pandas as pd

In [2]:
creditscsv = pd.read_csv("datasets/credits.csv")

In [31]:
df = pd.read_csv("datasets/movies_metadata.csv")

/tmp/ipykernel_21814/4030145390.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("datasets/movies_metadata.csv")

In [38]:
df = pd.read_csv("movie_data.csv")

/tmp/ipykernel_21814/2790610220.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("movie_data.csv")

In [34]:
df.shape

(45466, 18)

In [5]:
df.drop(["belongs_to_collection","homepage","imdb_id","status","video","poster_path"],axis=1,inplace=True)

In [23]:
df.drop(["tagline"],axis=1,inplace=True)

In [6]:
df.head(2)

,adult,budget,genres,id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,tagline,title,vote_average,vote_count
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,Toy Story,7.7,5415.0
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0

In [50]:
df.to_csv('movie_data.csv')

In [13]:
dfr = pd.read_csv("datasets/ratings_small.csv")

In [14]:
dfr.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [23]:
dfid = df['id'].copy

In [24]:
dfid

<bound method NDFrame.copy of 0           862
1          8844
2         15602
3         31357
4         11862
          ...
45461    439050
45462    111109
45463     67758
45464    227506
45465    461257
Name: id, Length: 45466, dtype: object>

In [9]:
dfr.sort_values('movieId',inplace=True)

NameError: name 'dfr' is not defined

In [22]:
df.isnull().sum()

adult                       0
budget                      0
genres                      0
id                          0
original_language          11
original_title              0
overview                  954
popularity                  5
production_companies        3
production_countries        3
release_date               87
revenue                     6
runtime                   263
spoken_languages            6
tagline                 25054
title                       6
vote_average                6
vote_count                  6
dtype: int64

In [39]:
dfr.head()

       userId  movieId  rating   timestamp
9713       68        1     4.0  1194741818
35933     261        1     1.5  1101665532
52631     383        1     5.0   852806429
35983     262        1     2.5  1433898798
12038      77        1     4.0  1163005363

In [42]:
dfrmean = dfr.groupby("movieId")["rating"].mean()

In [43]:
dfrmean

movieId
1         3.872470
2         3.401869
3         3.161017
4         2.384615
5         3.267857
            ...
161944    5.000000
162376    4.500000
162542    5.000000
162672    3.000000
163949    5.000000
Name: rating, Length: 9066, dtype: float64

In [45]:
dfrmean.to_csv('rating_mean.csv')

In [2]:
edf = pd.read_csv("edited_movies_dataset.csv")

/tmp/ipykernel_7022/3864765068.py:1: DtypeWarning: Columns (0,2,25) have mixed types. Specify dtype option on import or set low_memory=False.
  edf = pd.read_csv("edited_movies_dataset.csv")

In [18]:
edf.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                         int64
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                   object
runtime                   object
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average              object
vote_count                object
Unnamed: 24               object
Unnamed: 25               object
Unnamed: 26              float64
Unnamed: 27              float64
dtype: object

In [19]:
df['id'] = pd.to_numeric(df['id'])

In [20]:
df.dtypes

adult                    object
budget                   object
genres                   object
id                        int64
original_language        object
original_title           object
overview                 object
popularity               object
production_companies     object
production_countries     object
release_date             object
revenue                 float64
runtime                 float64
spoken_languages         object
tagline                  object
title                    object
vote_average            float64
vote_count              float64
dtype: object

In [18]:
df['id'] = df['id'].replace(['2014-01-01'], '0')

In [12]:
df['id'] = df['id'].replace(['adv=no'], '0')

In [47]:
df.isnull().sum()

Unnamed: 0              0
adult                   0
budget                  0
genres                  0
id                      0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
title                   0
vote_average            0
vote_count              0
dtype: int64

In [27]:
# removing and cleaning null values

In [40]:
df = df.dropna(subset=['revenue'])

In [42]:
df = df.dropna(subset=['release_date'])

In [48]:
df.shape

(44425, 18)

In [45]:
df = df.dropna(subset=['original_language'])

In [46]:
df = df.dropna(subset=['overview'])

In [49]:
df.dtypes

Unnamed: 0                int64
adult                    object
budget                   object
genres                   object
id                        int64
original_language        object
original_title           object
overview                 object
popularity               object
production_companies     object
production_countries     object
release_date             object
revenue                 float64
runtime                 float64
spoken_languages         object
title                    object
vote_average            float64
vote_count              float64
dtype: object