In [40]:
import pandas as pd

In [41]:
df = pd.read_csv('movie_data.csv')

In [42]:
dfr = pd.read_csv("rating_mean_all.csv")

In [69]:
df.shape

(44425, 19)

In [44]:
df.isnull().sum()

Unnamed: 0.1            0
Unnamed: 0              0
adult                   0
budget                  0
genres                  0
id                      0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
title                   0
vote_average            0
vote_count              0
dtype: int64

In [45]:
dfr.rename(columns = {'movieId':'id'}, inplace = True)

In [47]:
dfr.dtypes

id          int64
rating    float64
dtype: object

In [48]:
df.dtypes

Unnamed: 0.1              int64
Unnamed: 0                int64
adult                      bool
budget                    int64
genres                   object
id                        int64
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                 float64
runtime                 float64
spoken_languages         object
title                    object
vote_average            float64
vote_count              float64
dtype: object

In [65]:
df

,Unnamed: 0.1,Unnamed: 0,adult,budget,genres,id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,vote_average,vote_count
4319,4342,4342,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",2,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,3.860491,"[{'name': 'Villealfa Filmproduction Oy', 'id':...","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",1988-10-21,0.0,69.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}, {'iso_6...",Ariel,7.1,44.0
12907,12947,12947,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",3,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",2.292110,"[{'name': 'Villealfa Filmproduction Oy', 'id':...","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",1986-10-16,0.0,76.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Shadows in Paradise,7.1,35.0
17,17,17,False,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",5,en,Four Rooms,It's Ted the Bellhop's first night on the job....,9.026586,"[{'name': 'Miramax Films', 'id': 14}, {'name':...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-09,4300000.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Four Rooms,6.5,539.0
472,474,474,False,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",6,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",5.538671,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",1993-10-15,12136938.0,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Judgment Night,6.4,79.0
255,256,256,False,11000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",11,en,Star Wars,Princess Leia is captured and held hostage by ...,42.149697,"[{'name': 'Lucasfilm', 'id': 1}, {'name': 'Twe...","[{'iso_3166_1': 'US', 'name': 'United States o...",1977-05-25,775398007.0,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Star Wars,8.1,6778.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43983,45000,45000,False,0,"[{'id': 99, 'name': 'Documentary'}]",464819,en,The Making of 'The Terminator': A Retrospective,An interview session with Arnold Schwarzenegge...,0.000001,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",1992-01-01,0.0,18.0,"[{'iso_639_1': 'en', 'name': 'English'}]",The Making of 'The Terminator': A Retrospective,0.0,0.0
44057,45078,45078,False,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",465044,en,Abduction,A horror comedy spoofing conspiracy theory mov...,0.281008,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-28,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Abduction,0.0,0.0
44243,45273,45273,False,0,"[{'id': 18, 'name': 'Drama'}]",467731,en,Tragedy in a Temporary Town,Fifteen-year-old girl Dotty Fisher is assaulte...,0.001189,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",1956-02-19,0.0,60.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Tragedy in a Temporary Town,0.0,0.0
21705,21891,21891,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",468343,fi,Silja - nuorena nukkunut,"In the 1910s, beautiful young Silja loses both...",0.001202,[],"[{'iso_3166_1': 'FI', 'name': 'Finland'}]",1956-01-01,0.0,87.0,[],Silja - nuorena nukkunut,0.0,0.0
20032,20189,20189,False,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",469172,pt,Manoel dans l'île des merveilles,Manuel is a young boy who travels from long ag...,0.001097,"[{'name': ""Institut National de l'Audiovisuel ...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1984-08-02,0.0,130.0,"[{'iso_639_1': 'pt', 'name': 'Português'}, {'i...",Manuel on the Island of Wonders,0.0,0.0

In [67]:
dfr.sort_values('id',inplace=True)

In [63]:
df['id'].nunique()

44395

In [64]:
dfr['id'].nuniqueue()

45115

In [70]:
dfm = pd.merge(df, dfr, on="id")

In [24]:
dfm2 = pd.merge(df, dfr, on='id',  how='left')

In [71]:
dfm.shape

(7434, 20)

In [72]:
dfm.to_csv('movie_&_rating.csv')

In [38]:
dfm2.isnull().sum()

adult                       0
budget                      0
genres                      0
id                          0
original_language          11
original_title              0
overview                  954
popularity                  5
production_companies        4
production_countries        3
release_date               87
revenue                     6
runtime                   263
spoken_languages            6
tagline                 24986
title                      64
vote_average                9
vote_count                  9
rating                  37897
dtype: int64

In [68]:
dfr

           id    rating
0           1  3.888157
1           2  3.236953
2           3  3.175550
3           4  2.875713
4           5  3.079565
...       ...       ...
45110  176267  4.000000
45111  176269  3.500000
45112  176271  5.000000
45113  176273  1.000000
45114  176275  3.000000

[45115 rows x 2 columns]

In [36]:
dfm2.shape

(45466, 19)

In [51]:
dfm

,Unnamed: 0.1,Unnamed: 0,adult,budget,genres,id,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,vote_average,vote_count,rating
0,0,0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7,5415.0,3.598930
1,1,1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9,2413.0,3.760163
2,5,5,False,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",949,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",17.924927,"[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Heat,7.7,1886.0,3.905544
3,9,9,False,58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",710,en,GoldenEye,James Bond must unmask the mysterious head of ...,14.686036,"[{'name': 'United Artists', 'id': 60}, {'name'...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",GoldenEye,6.6,1194.0,2.740334
4,14,14,False,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",1408,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",7.284477,"[{'name': 'Le Studio Canal+', 'id': 183}, {'na...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",1995-12-22,10017322.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Cutthroat Island,5.7,137.0,3.710181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7429,45406,45406,False,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",98604,ru,Zolushka,"Masha Krapivina - is yet beautiful, and not th...",0.803588,"[{'name': 'Channel One Russia', 'id': 1039}, {...","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",2012-02-14,0.0,91.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Cinderella,4.6,6.0,3.795053
7430,45433,45433,False,0,"[{'id': 10402, 'name': 'Music'}, {'id': 35, 'n...",5589,cs,Šíleně smutná princezna,No overview found.,0.375001,"[{'name': 'Filmové Studio Barrandov', 'id': 19...","[{'iso_3166_1': 'CZ', 'name': 'Czech Republic'}]",1968-06-07,0.0,73.0,"[{'iso_639_1': 'cs', 'name': 'Český'}]",Šíleně smutná princezna,6.1,4.0,3.126140
7431,45436,45436,False,0,"[{'id': 28, 'name': 'Action'}, {'id': 9648, 'n...",45527,en,The Final Storm,A stranger named Silas flees from a devastatin...,1.270832,[{'name': 'Boll Kino Beteiligungs GmbH & Co. K...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",2010-01-01,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",The Final Storm,3.7,11.0,2.791667
7432,45450,45450,False,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",49280,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,1.109068,"[{'name': 'Star Film Company', 'id': 45867}]","[{'iso_3166_1': 'FR', 'name': 'France'}]",1900-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",The One-Man Band,6.5,22.0,3.390625
7433,45462,45462,False,0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Century of Birthing,9.0,3.0,2.583333