In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("editedcsv/movie-final-small.csv")

In [4]:
df.shape

(1925, 28)

In [8]:
df.dtypes

Unnamed: 0.3              int64
Unnamed: 0.2              int64
movieId                   int64
actor_1_gender            int64
actor_2_gender            int64
actor_1_name             object
actor_2_name             object
director_gender           int64
director_name            object
Unnamed: 0.1              int64
Unnamed: 0               object
adult                      bool
budget                    int64
genres                   object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                 float64
runtime                 float64
spoken_languages         object
title                    object
vote_average            float64
vote_count              float64
rating                  float64
dtype: object

In [9]:
de = df[['movieId', 'rating']].copy()

In [10]:
data = pd.read_csv("editedcsv/processed1.csv")

In [11]:
data.dtypes

Unnamed: 0.2              int64
movie_id                  int64
actor_1_gender            int64
actor_2_gender            int64
actor_1_name             object
actor_2_name             object
director_gender           int64
director_name            object
Unnamed: 0.1              int64
Unnamed: 0               object
adult                      bool
budget                    int64
genres                   object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                 float64
runtime                 float64
spoken_languages         object
title                    object
vote_average            float64
vote_count              float64
dtype: object

In [12]:
do = data[['movie_id', 'overview']].copy()

In [13]:
do.rename(columns = {'movie_id':'movieId'}, inplace = True)

In [14]:
do

       movieId                                           overview
0          862  lead woody andy toy live happily room andy bir...
1         8844  sibling judy peter discover enchant board game...
2        15602  family wed reignites ancient feud next door ne...
3        31357  cheat mistreat stepped woman hold breath wait ...
4        11862  george bank recover daughter wed receives news...
...        ...                                                ...
40392   289923  film archivist revisit story rustin parr hermi...
40393   222848  year ad world dangerous woman banish remote as...
40394    30840  yet another version classic epic enough variat...
40395    67758  one hit go wrong professional assassin end sui...
40396   227506  small town live two brother one minister one h...

[40397 rows x 2 columns]

In [15]:
de

      movieId    rating
0         862  3.598930
1        8844  3.760163
2         949  3.905544
3         710  2.740334
4        1408  3.710181
...       ...       ...
1920     8453  3.037500
1921   123229  2.150000
1922   159447  3.326531
1923    75438  2.740506
1924    26147  3.629412

[1925 rows x 2 columns]

In [16]:
dfm = pd.merge(do, de, on="movieId")

In [19]:
dfm.dtypes

movieId       int64
overview     object
rating      float64
dtype: object

In [20]:
dfm['Label'] = pd.cut(x=dfm['rating'],
                     bins=[0,1,2,3,4,5],
                     labels=['0 star', '1 star', '2 star','3 star','4 star'])

In [23]:
dfm['Label'].unique()

['3 start', '2 start', '1 start', '4 star', '0 start']
Categories (5, object): ['0 start' < '1 start' < '2 start' < '3 start' < '4 star']